
<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="x-dns-prefetch-control" content="on" />
<meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-title" content="PythonTOP,拓普Python学院">
<title>拓普Python学院,Python!</title>

<link rel='stylesheet' id='bootstrap-css'  href='static/css/bootstrap.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='fontawesome-css'  href='static/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='stylesheet-css'  href='static/css/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='raxus-css'  href='static/css/raxus.css' type='text/css' media='all' />
<link rel='stylesheet' id='open-social-style-css'  href='static/css/os.css'type='text/css' media='all' />
<meta name='robots' content='index,follow' />
<meta name="keywords" content="互联网,产品经理,产品设计,用户体验,交互设计,网站运营,移动互联网">
<meta name="description" content="聚焦互联网前沿资讯，网络精华内容，交流产品心得。 每天为你速递最新、最鲜、最有料的互联网科技资讯！">
</head>

<body class="home blog site-layout-2">

<!-- 头部 -->
<header class="fix-wrap" id="fix-wrap">
<div class="fix-main clearfix pr" id="fix-main" _hover-ignore="1"> <a href="/" class="index-logo">
    <img src="static/picture/black-logo.png" alt="拓普Python学院,Python!"></a>
<nav class="nav fl">
    <ul id="fix-list" class="fix-list clearfix">

<li id="menu-item-24086" class="menu-item"><a href="/">首页</a></li>

<li id="menu-item-117720" class="menu-item">
 <a href="/list-1.html">Django</a></li>

<li id="menu-item-117720" class="menu-item">
 <a href="/list-2.html">Python</a></li>

<li id="menu-item-117720" class="menu-item">
 <a href="/list-3.html">Linux</a></li>

<li id="menu-item-117720" class="menu-item">
 <a href="/list-4.html">Mysql</a></li>

<li id="menu-item-117720" class="menu-item">
 <a href="/list-5.html">运维知识</a></li>

<li id="menu-item-117720" class="menu-item">
 <a href="/list-6.html">我的日记</a></li>

<li id="menu-item-24086" class="menu-item"><a href="/about/">关于博主</a></li>


</ul>
</nav>
    <form method="get" class="index-search  hidden-xs" action="/s/" >
        <input class="text" name="search" type="text" placeholder="输入关键字" value="">
        <button class="submit" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
</header>

    <!-- /主体 -->
    <div id="main-container" class="container clearfix">
        <section class="post-left">
            <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="{% url 'index' %}">首页</a> » <a
                href="{% url 'index' %}list-{{ show.category.id }}.html">{{ show.category.name }}</a> »
            <span class="current">正文</span></div>
            <div class="post-main clearfix">
                <h1 class="post-title">{{ show.title }}</h1>
                <div class="post-con clearfix">
                    <div class="article-meta">
                        <span class="item">分类：<a href="{% url 'index' %}list-{{ show.category.id }}.html" rel="category tag">{{ show.category.name }}</a></span>
                        <span class="item">作者：{{show.user}}</span>
                        <span class="item">浏览：{{ show.views }}</span>
                        <span class="item">{{ show.created_time }}</span>

                    </div>
                    <article class="article-content">
                        {{ show.body|safe }}
                    </article>

                    <div class="post-tag"><span class="fa fa-tags" aria-hidden="true"></span>标签：
                            {% for tag in show.tags.all %}
                                <a href="{% url 'index' %}tag/{{ tag.name }}" rel="tag">{{ tag.name }}</a>
                            {% endfor %}
                    </div>
                        <div>
                            <div><b>上一篇：</b>
                                {% if netx_blog %}
                                    <a href="show-{{ netx_blog.pk }}.html" class="article-tag">{{ netx_blog }}</a>
                                {% else %}
                                    没有了
                                {% endif %}
                            </div>
                            <div><b>下一篇：</b>
                                {% if previous_blog %}
                                    <a href="show-{{ previous_blog.pk }}.html" class="article-tag">{{ previous_blog }}</a>
                                {% else %}
                                    没有了
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /文章 -->


            <div class="recommend  hidden-xs">

                <div class="head clearfix"><span class="sp">您可能感兴趣的:</span></div>
                  <ul>
                      {% for h in hot %}
                        <li>
                         <div class="pic">
                           <a href="{% url 'index' %}show-{{ h.id }}.html" title="{{ h.title }}">
                           <img src="{% url 'index' %}media/{{ h.img }}"
                             srcset="{% url 'index' %}media/{{ h.img }}"
                             alt="{{ h.title }}" class="wp-post-image" width="145" height="100"/></a>
                          </div>
                            <a class="descript " href="{% url 'index' %}show-{{ h.id }}.html" rel="bookmark"
                                   title="{{ h.title }}">{{ h.title }}</a>
                        </li>
                        {% endfor %}
                  </ul>
            </div>


        </section>
        <!-- /post-left -->
        <!-- /post-right -->
        <aside class="post-right hidden-xs">
            </section></section>

            <section class="widget post-right-item">
                <h4 class="post-right-title">热门推荐</h4>


                <ul class="post-hot clearfix">
                    
                    <li>
                        <div class="img">

                            <a href="/show-1.html"
                               title="W3C启动Web支付标准工作，推进在线结算流程"><img
                                    src="static/picture/next-1.png"
                                    srcset="/media/article_img/2018/10/07/next-1.png"
                                    alt="" class="wp-post-image" width="120"
                                    height="80"/></a>

                        </div>
                        <a href="/show-1.html" title="W3C启动Web支付标准工作，推进在线结算流程"
                           target="_blank" class="title">W3C启动Web支付标准工作，推进在线结算流程</a>
                    </li>
                
                    <li>
                        <div class="img">

                            <a href="/show-4.html"
                               title="Firefox5新功能:社交共享 集成身份管理"><img
                                    src="static/picture/firefox503.jpg"
                                    srcset="/media/article_img/2018/10/07/firefox503.jpg"
                                    alt="" class="wp-post-image" width="120"
                                    height="80"/></a>

                        </div>
                        <a href="/show-4.html" title="Firefox5新功能:社交共享 集成身份管理"
                           target="_blank" class="title">Firefox5新功能:社交共享 集成身份管理</a>
                    </li>
                
                    <li>
                        <div class="img">

                            <a href="/show-5.html"
                               title="简单HTML5打造内涵搜索框"><img
                                    src="static/picture/web1_if1rrie.jpg"
                                    srcset="/media/article_img/2018/10/07/web1_If1RRie.jpg"
                                    alt="" class="wp-post-image" width="120"
                                    height="80"/></a>

                        </div>
                        <a href="/show-5.html" title="简单HTML5打造内涵搜索框"
                           target="_blank" class="title">简单HTML5打造内涵搜索框</a>
                    </li>
                
                    <li>
                        <div class="img">

                            <a href="/show-7.html"
                               title="网站设计-不只是门面漂亮这么简单"><img
                                    src="static/picture/web1.jpg"
                                    srcset="/media/article_img/2018/10/07/web1.jpg"
                                    alt="" class="wp-post-image" width="120"
                                    height="80"/></a>

                        </div>
                        <a href="/show-7.html" title="网站设计-不只是门面漂亮这么简单"
                           target="_blank" class="title">网站设计-不只是门面漂亮这么简单</a>
                    </li>
                
                    <li>
                        <div class="img">

                            <a href="/show-8.html"
                               title="谷歌用户体验设计准则"><img
                                    src="static/picture/tx_3zybskx.jpg"
                                    srcset="/media/article_img/2018/10/07/tx_3zybSKX.jpg"
                                    alt="" class="wp-post-image" width="120"
                                    height="80"/></a>

                        </div>
                        <a href="/show-8.html" title="谷歌用户体验设计准则"
                           target="_blank" class="title">谷歌用户体验设计准则</a>
                    </li>
                
                    <li>
                        <div class="img">

                            <a href="/show-10.html"
                               title="手机端阅读类产品的信息架构"><img
                                    src="static/picture/shouji.jpeg"
                                    srcset="/media/article_img/2018/10/07/shouji.jpeg"
                                    alt="" class="wp-post-image" width="120"
                                    height="80"/></a>

                        </div>
                        <a href="/show-10.html" title="手机端阅读类产品的信息架构"
                           target="_blank" class="title">手机端阅读类产品的信息架构</a>
                    </li>
                
                </ul>
            </section>
            </section>
            <section class="widget post-right-item"><h4 class="post-right-title">所有标签</h4>
                <div class="tags">
                    
                        <a href="/tag/django">django</a>
                    
                        <a href="/tag/Python教程">Python教程</a>
                    
                        <a href="/tag/Django教程">Django教程</a>
                    
                        <a href="/tag/mysql">mysql</a>
                    
                        <a href="/tag/Linux">Linux</a>
                    
                </div>
            </section>
            </section><!-- /关注我们 -->
            <div class="post-right-item">
                <h4 class="post-right-title">关注我们</h4>
                <div class="wid-about">
                    <p>拓普Python学院，欢迎关注！</p>
                    <img src="static/picture/weixinqr.jpg" width="160" height="160">
                </div>
                <div class="wid-about">
                    <p><strong>联系方式:</strong></p>
                    <p>QQ:445813</p>
                    <p>Email：445813@qq.com</p>
                </div>
            </div>

        </aside>

        </aside>
    </div>
    <!-- /主体 -->


<!-- 底部 -->
<footer class="footer">
<div class="copyright"> © 2010- 2018 · All Rights Reserved
    · <a href="https://www.django.cn">Django中文网</a>
    · <a href="http://www.miibeian.gov.cn" target="_blank">湘ICP备17023990号</a> 版权所有 © Django中文网</div>
</footer>
<script src="static/js/bundle.js"></script>
<script type="text/javascript" src="static/js/view-history.js"></script>
<script type='text/javascript' src="static/js/push.js" ></script>
<script type='text/javascript' src='static/js/jquery.min.js'></script>
<script type='text/javascript' src='static/js/bootstrap.min.js'></script>
<script type='text/javascript' src='static/js/raxus-slider.min.js'></script>
<script type='text/javascript' src='static/js/loader.js'></script>
<script type='text/javascript' src='static/js/bj-lazy-load.min.js' ></script>
<script type='text/javascript' src='static/js/os.js'></script>

</body>
</html>